@model IEnumerable<Challenge.Application.Website.Models.CandidatesModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit", "Candidates");
    var urlDelete = @Url.Action("Delete", "Candidates");
}

@(Html.Grid("_CustomPartialMasterGrid", Model).Build(columns =>
{    
    columns.Add(c => c.Name).Titled("Nombre").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Surname).Titled("Apellido").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Birthdate).Titled("Fecha Nacimiento").RenderedAs(s => ((DateTime)s.Birthdate).ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("equals");
    columns.Add(c => c.Email).Titled("Correo Electrónico").UsingDefaultFilterMethod("contains");    
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='d-flex'><i class='fa fa-edit btn-lg text-primary-icon ' tabindex='0' data-tippy-content='Editar' onclick=\"Candidates.OpenEdit('{urlEdit}?id={s.IdCandidate}');\"></i> <i class='fa fa-trash btn-lg text-danger-icon ' tabindex='0' data-tippy-content='Eliminar' style='margin-left:8px' onclick=\"Candidates.Delete('{urlDelete}?id={s.IdCandidate}')\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 10;
                                        }).Css("table table-bordered table-hover")

)
