<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target xsi:type="NLogViewer"
            name="IntegrationService"/>
    <target xsi:type="File" name="Log" fileName="${basedir}/logs/${shortdate}_LogsAPI.log"
        layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="Errores" fileName="${basedir}/logs/${shortdate}_ErrorsAPI.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="Trace" fileName="${basedir}/logs/${shortdate}_TraceAPI.log"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <logger name="Challenge.*" minlevel="Trace" writeTo="Trace" />
    <logger name="Challenge.*" minlevel="Info" writeTo="Log" />
    <logger name="Challenge.*" minlevel="Error" writeTo="Errores" />
  </rules>
</nlog>